<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Welcome to the machine!<br>
We will see the following over here:
<p>
    Registered users please:
    <a href="login">login</a>
</p>
<p>
    Guests, Click
    <a href="guest">guest</a>
</p>
Hello {{ user }}!
</ul>


</body>
</html>